/* Fonts */

/* Family */

h1 { 
    font-family: 'Times New Roman', sans-serif;
  }
  
  h2 { /* Contact, Skills, Education, About me, Work Experience */
    font-family: 'Archivo Narrow', sans-serif;
  }
  
  h3 { /* Accountant */
    font-family: 'Open Sans', sans-serif;
  }
  
  .jobPosition span, 
  .projectName span {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .upperCase {
    text-transform: uppercase; 
  }
  
  .smallText, 
  .smallText span, 
  .smallText p, 
  .smallText a {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
    color: white;
  }
  
  /* End Family */
  
  /* Colors */
  h1 { 
    color: #111; 
  }
  
  .leftPanel, 
  .leftPanel a {
    color: #bebebe;
    text-decoration: none;
  }
  
  .leftPanel h2 {
    color: white;
  }
  
  /* End Colors */
  
  /* Sizes */
  h1 { 
    font-weight: 300; 
    font-size: 1.2cm;
    transform:scale(1,1.15); 
    margin-bottom: 0.2cm;
    margin-top: 0.2cm;
    text-transform: uppercase; 
  }
  
  h2 {
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
  }
  
  .leftPanel, 
  .leftPanel a {
    font-size: 0.38cm;
  }
  
  .projectName span, 
  .jobPosition span {
    font-size: 0.35cm;
  }
  
  .smallText, 
  .smallText span, 
  .smallText p, 
  .smallText a {
    font-size: 0.35cm;
    color: white;
  }
  
  .leftPanel .smallText, 
  .leftPanel .smallText, 
  .leftPanel .smallText span, 
  .leftPanel .smallText p, 
  .smallText a {
    margin: 1px;
  }
  
  .contactIcon {
    width: 0.5cm;
    text-align: center;
    font-size: 15px;
   
  }
  
  p {
    margin-top: 0.05cm;
    margin-bottom: 0.05cm;
  }
  /* End Sizes */
  
  .bolded {
    font-weight: bold;
  }
  
  .white {
    color: white;
  }
  /* End Fonts */
  
  /* Layout */
  body {
    background: rgb(204,204,204); 
    width: 21cm;
    height: 122vh;
    margin: 0 auto;
    
  }
  
  /* Printing */
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
  }
  
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  
  @page {
     size: 21cm 29.7cm;
     padding: 0;
     margin: 0mm;
     border: none;
     border-collapse: collapse;
  }
  /* End Printing */
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  
  .leftPanel {
    width: 380px;
    background-color: rgb(45, 45, 48);
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .rightPanel {
    width: 73%;
    padding: 0.7cm;
  }
  
  .leftPanel img {
    width: 4cm;
    height: 4cm;
    margin-bottom: 0.7cm;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .leftPanel .details {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
    
  .alignleft {
    text-align: left !important;
    width: 1cm;
  }
  
  .alignright {
    text-align: right !important;
    width: 0.6cm;
    margin-right: 0.1cm
  }
  
  .workExperience>ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .workExperience>ul>li {
    position: relative;
    margin: 0;
    padding-bottom: 0.5cm;
    padding-left: 0.5cm;
    width: 450px;
  }
  
  .workExperience>ul>li:before {
    background-color: #b8abab;
    content: '';
    position: absolute;
    top: 0.1cm;
    bottom: -0.2cm; /* change this after border removal */
    left: 0.05cm;
  }
  
  .workExperience>ul>li::after {
    content: '';
    position: absolute;
   
    background-repeat: no-repeat;
    background-size: contain;
    left: -0.09cm;
    top: 0;
    width: 0.35cm;
    height: 0.35cm;
  }
  
  .jobPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .item {
    padding-bottom: 0.7cm;
    padding-top: 0.7cm;
  }
  
  .item h2{
    margin-top: 0;
  }
  
  .lastParagrafNoMarginBottom {
    margin-bottom: 0;
  }
  
  .workExperience>ul>li ul {
    padding-left: 0.5cm;
    list-style-type: disc;
  }
 button{
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
 }
button.learn-more{
  padding: 1px;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  background: #F0F8FF;
  transform-style: preserve-3d;
  transition: .15s cubic-bezier(0, 0, .6, 1);
}
button.learn-more::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0, .5px, -1em);
  box-shadow: 0 0 0 2px #b18597, 0 .625em 0 0	#DC143C;
  background: #f9c4d2;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}
  /*End Layout*/